:root {
    font-family: var(--body-font);
    font-feature-settings: 'liga' 1, 'calt' 1;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: "InterVariable", var(--body-font);
    }
}

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import "variables", "typography", "code", "site";