#skip {
  position: absolute;
  top: -1000%;
  left: -1000%;
}

#skip:focus {
  top: 10px;
  left: 10px;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: var(--body-font);
  line-height: var(--body-line-height);
  color: var(--body-color);
  background: var(--body-bg);
  background-image: var(--body-bg), url('/assets/noise.svg');
  background-repeat: repeat;
  background-blend-mode: hard-light;
  background-attachment: fixed;
}

.main-screenshot {
  content: var(--main-screenshot);
  width: 100%;
}

.center {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.container {
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: var(--container-bg);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  z-index: -1;
  max-width: 45rem;
  padding: var(--spacer-2);
  margin-left: auto;
  margin-right: auto;
}

.clay {
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.45), inset 0px -8px 15px 0px rgba(0, 0, 0, 0.25);
  border: 0.1px solid transparent;
}

.glass {
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.33);
  box-shadow: 0 5px 30px 0 rgba(255, 255, 255, 0.45), inset 0px -10px 20px 0px rgba(255, 255, 255, .25);
  border: 0.1px solid transparent;
}

footer {
  margin-top: var(--spacer-3);
  margin-bottom: var(--spacer-3);
}

a {
  color: var(--link-color);

  &:hover,
  &:focus {
    color: var(--link-hover-color);
  }

  &:link {
    text-decoration: none;
  }

  strong {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
  margin-bottom: var(--spacer);
  border-radius: var(--border-radius);
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 0 solid var(--border-color);
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
}

th {
  text-align: left;
}

thead th {
  border-bottom-color: currentColor;
}

mark {
  padding: .15rem;
  background-color: var(--yellow-100);
  border-radius: .125rem;
}

pre {
  margin: 2em 1em 2em 4em;
  white-space: pre-wrap;
}

@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0.0)
  }

  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }

  100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}