address,
blockquote,
dl,
ol,
p,
pre,
table,
ul {
    color: var(--body-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    margin-bottom: .5rem;
    font-weight: 600;
    line-height: 1.25;
    color: var(--heading-color);
}

h1 {
    font-size: 2rem;
}

h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

h3 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
}

h4,
h5,
h6 {
    margin-top: 1rem;
    font-size: 1rem;
}

em {
    font-family: "Tenor Sans", sans-serif;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;
}

ul {
    text-align: initial;
}

ul,
ol,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: .5rem;
}

hr {
    position: relative;
    margin: var(--spacer-2) 0;
    border: 0;
    border-top: 0.2rem dotted var(--border-color);
}

abbr {
    font-size: 85%;
    font-weight: bold;
    color: var(--dark-3);
    text-transform: uppercase;

    &[title] {
        cursor: help;
        border-bottom: 1px dotted var(--border-color);
    }
}

blockquote {
    padding: .5rem 1rem;
    margin: .8rem 0;
    color: var(--dark-2);
    border-left: .25rem solid var(--border-color);

    p:last-child {
        margin-bottom: 0;
    }

    @media (min-width: 30em) {
        padding-right: 5rem;
        padding-left: 1.25rem;
    }
}

figure {
    margin: 0;
}


a[href^="#fn:"],
a[href^="#fnref:"] {
    display: inline-block;
    margin-left: .1rem;
    font-weight: bold;
}